{% extends "base.html" %}
{% load static %}
{% block 'title' %}Lista de Tarefas{% endblock 'title' %}
{% block 'head' %}
    <script src="{% static 'tasks/js/task_list.js' %}"></script>
{% endblock 'head' %}
{% block 'body' %}
{% include "partials/nav_bar.html" %}
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md">
                <h1>Lista de Tarefas</h1>
            </div>
            <div class="col-md">
                <a href="/user_create" class="btn btn-primary">Criar novo</a>
            </div>
        </div>
        <table id="taskTable" class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Status</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Ação</th>
                </tr>
            </thead>
            <tbody>
                <!-- Dados da API serão inseridos aqui -->
            </tbody>
        </table>
    </div>
{% endblock 'body' %}